tags/chronos-maven-plugin-before_deletion/src/main/java/org/codehaus/mojo/chronos/chronos-responsetimesamples.dtd

<!ELEMENT groupedresponsetimesamples (group | sample)*>
<!ATTLIST groupedresponsetimesamples
	succeeded CDATA "0"
>
<!ELEMENT group (responsetimesamplegroup)*>
<!ATTLIST group
	id CDATA "0"
>
<!ELEMENT responsetimesamplegroup EMPTY>
<!ATTLIST responsetimesamplegroup
	name CDATA ""
	index CDATA ""
>
<!ELEMENT sample EMPTY>
<!ATTLIST sample
	responsetime CDATA ""
	timestamp CDATA ""
	success CDATA ""
	threadId CDATA ""
>
